
.preferenceInput {
  -webkit-appearance: none;
  appearance: none;
  width: 35.19px;
  min-width: 35.19px;
  height: 22px;
  background-color: #535c64;
  border-radius: 22px;
  border: none;
  margin-left: auto;
  cursor: pointer;
  position: relative;
  outline: none;
  transition: 0.2s ease-in-out;
}
.preferenceInput::before {
  content: "";
  top: 4.4px;
  left: 5px;
  position: absolute;
  background-color: #fff;
  height: 12.72px;
  border-radius: 12.72px;
  width: 12.72px;
  transition: 0.2s ease-in-out;
}
.preferenceInput:checked {
  background-color: #eb268f;
}
.preferenceInput:checked:before {
  margin-left: 12px;
}
.topHeaderNames {
  /* width: 400px; */
  width: 100%;
  display: flex;
  overflow-x: auto;
  padding-bottom: 10px;
}
.shopNowBTN {
  transition: 0.1s ease-in-out;
  background-color: #212121;
  border: 2px solid #212121;
  font-weight: 600;
}
.shopNowBTN:hover {
  background-color: #fff;
  font-family: Outfits;
  color: #212121;
}
.authSubheaderTitleSecondaryWhiteBlackColor {
  font-size: 14.08px;
  font-style: normal;
  font-weight: 400;
  font-family: "outfit";
  color: rgb(85, 92, 99);
}
.modalMainCover {
  display: block;
  position: fixed;
  top: 0;
  z-index: 50;
  left: 0;
  width: 100%;
  height: 100%;
  outline: 0;
  overflow-y: auto;
  overflow-x: hidden;
  transition: opacity 0.15s linear;
  background-color: #0e0e105d;
  backdrop-filter: blur(0.3rem);
}
.fessInsideMainCover {
  max-width: 550px;
  margin: 1.75rem auto;
  padding: 0px 20px;
  min-height: calc(100% - 3.5rem);
  display: flex;
  align-items: center;
  position: relative;
  width: auto;
  pointer-events: none;
}
.modalContent {
  background-color: #fff;
  border-radius: 8px;
  border: 1px solid #fff;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-clip: padding-box;
  /* height: 400px; */
  pointer-events: auto;
  outline: 0;
  padding: 20px;
  font-family: outfit;
}
.eachHeader {
  color: #85899b;
  transition: 0.2s ease-in-out;
  border-bottom: 1px solid #f5f6fa;
  font-size: 14px;
  width: max-content;
  position: relative;
  padding: 0 17px 5px 17px;
  cursor: pointer;
}
.eachHeader:hover {
  border-bottom: 1px solid #3f405b;
  color: #3f405b;
}
.abcdef {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}
.text3xlFontBoldUnderline {
  margin-top: 2.5rem;
  margin-bottom: 1.4rem;
  width: 100%;
  border: none;
  border-radius: 2.8rem;
  color: #fff;
  font-size: 14.08;
  outline: none;
  height: 47.91px;
  /* padding: 0px 0px 21.12px; */
  transition: all 0.3s;
  align-items: center;
  background-color: #0069ff;
  display: flex;
  font-family: var(--font-family-satochimedium);
  font-weight: 600;
  justify-content: center;
  text-transform: capitalize;
  /* background-image: linear-gradient(98.7deg, #00905b 19.95%, #1dd6ad 89.51%); */
  background-image: linear-gradient(127deg, #0d5f86 0%, #002959 100%);

  /* background-image: linear-gradient(98.7deg, #333 19.95%, #003466 89.51%); */
  /* background-image: #003466 !important; */
  background-color: #003466 !important;
}
.text3xlFontBoldUnderline:disabled {
  cursor: not-allowed !important;
  opacity: 0.6;
}
.authSubheaderTitleSecondaryWhiteBlackColor {
  font-size: 14.08px;
  font-style: normal;
  font-weight: 400;
  font-family: "Satoshi-Medium";
  /* line-height: 2.4rem; */
  color: rgb(85, 92, 99);
}
.pinFieldWhiteBlackColorWhiteBlackBg {
  margin-right: 0.31rem;
  background-color: #20252b !important;
  border: 0.1rem solid hsla(0, 0%, 57%, 0.2);
  border-radius: 0.4em;
  font-size: 2rem;
  height: 2.5rem;
  min-width: 40px;
  outline: none;
  text-align: center;
  transition-duration: 0.25s;
  color: #fff !important;
  width: calc(16.66667% - 1rem);
}

.coverhereim {
  width: 1000px;
  max-width: 95%;
  margin: auto;
  font-family: outfit;
}

@media (max-width: 792px) {
  .pinFieldWhiteBlackColorWhiteBlackBg {
    height: 2.1rem;
    min-width: 30px;
    border-radius: 9px;
    font-family: "Satoshi-Medium";
    font-size: 1rem;
  }
}

@media (max-width: 558px) {
  .topHeaderNames {
    /* width: 300px; */
    width: 100%;
  }
}
@media (max-width: 484px) {
  .abcdef {
    flex-direction: column-reverse;
    align-items: flex-start;
    margin-top: 20px;
  }
}

@media (max-width: 444px) {
  .topHeaderNames {
    /* width: 200px; */
    width: 100%;
  }
}
