.wrapTheFlex {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}
.eachMapCover {
  cursor: pointer;
  display: inline-flex;
  padding: 9px 18px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border-radius: 500px;
  background: #f8f9fc;
  color: #5f6368;
  font-family: Outfit;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 4px 0;
  border: solid 1px #ddd9dc;
  text-transform: capitalize;
  font-weight: bold;
}
.titleDataHere {
  color: #414141;
  font-family: Outfit;
  font-size: 16px;
  text-align: left;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 1px;
  overflow: hidden;
  text-overflow: ellipsis;
}
