.coverHere {
  width: 90%;
  margin: auto;
  margin-top: 50px;
}
.bottomSomething {
  display: flex;
  gap: 20px;
}
.firstBorderHerer {
  border-radius: 18px;
  border: 1px solid rgba(0, 0, 0, 0.05);
  /* background: #FBFBFB; */
  box-shadow: 0px 4px 50px 0px rgba(222, 227, 237, 0.3);
  padding: 15px;
}
.titleDataHere {
  color: #414141;
  font-family: Outfit;
  font-size: 16px;
  text-align: left;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 1px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.subDataHere {
  letter-spacing: 1px;
  color: #777;
  font-size: 14px;
  line-height: 18px;
  text-align: left;
  margin: 8px 0 0;
  overflow: hidden;
  font-weight: 500;
  text-overflow: ellipsis;
}
.manualCover {
  width: 100%;
  padding-top: 20px;
  border-top: 1px solid rgb(222, 227, 237);
  margin-top: 20px;
}
.preferenceInput {
  -webkit-appearance: none;
  appearance: none;
  width: 35.19px;
  min-width: 35.19px;
  height: 22px;
  background-color: #535c64;
  border-radius: 22px;
  border: none;
  margin-left: auto;
  cursor: pointer;
  position: relative;
  outline: none;
  transition: 0.2s ease-in-out;
}
.preferenceInput::before {
  content: "";
  top: 4.4px;
  left: 5px;
  position: absolute;
  background-color: #fff;
  height: 12.72px;
  border-radius: 12.72px;
  width: 12.72px;
  transition: 0.2s ease-in-out;
}
.preferenceInput:checked {
  background-color: #eb268f;
}
.preferenceInput:checked:before {
  margin-left: 12px;
}
.wrapTheFlex {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}
.eachMapCover {
  cursor: pointer;
  display: inline-flex;
  padding: 9px 18px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border-radius: 500px;
  background: #f8f9fc;
  color: #5f6368;
  font-family: Outfit;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 4px 0;
  border: solid 1px #ddd9dc;
  text-transform: capitalize;
  font-weight: bold;
}
.shopNowBTN {
  transition: 0.1s ease-in-out;
  background-color: #212121;
  border: 2px solid #212121;
  font-weight: 600;
}
.shopNowBTN:hover {
  background-color: #fff;
  font-family: Outfits;
  color: #212121;
}
@media (max-width: 705px) {
  .bottomSomething {
    flex-direction: column-reverse;
  }
}
