.trackHero {
  width: 100%;
  background-color: #822b5832;
  backdrop-filter: blur(16px);

  /* filter: blur(6px); */
  /* background-color: #ee249022; */
  background-image: url("../../assets/world-map.png");
  background-size: contain;
  /* height: 530px; */
  margin-top: 40px;
  padding: 60px 20px;
  display: flex;
  flex-direction: column;
}
.blurSmth {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #00000033; */
}
.headTr {
  color: #822b58;
  font-family: outfit;
  font-size: 44px;
  text-align: center;
  line-height: 1;
  font-weight: 500;
}
.bodyTr {
  text-align: center;
  font-family: outfit;
  font-size: 15px;
  color: #000;
  margin: 50px 0px;
}
.centerit {
  display: flex;
  margin: 0px auto;
  width: 500px;
  flex-direction: column;
  max-width: 100%;
}
.centdataerit {
  display: flex;
  margin: 0px auto;
  width: 700px;
  font-family: outfit;
  flex-direction: column;
  max-width: 100%;
}
.search_round {
  max-width: 530px;
  box-sizing: border-box;
  display: flex;
  width: 100%;
  overflow: hidden;
  height: 46px;
  align-items: center;
  border-radius: 6.22px;
  box-shadow: 0px 0px 2px #c9c9c9;
  border: 1px solid #c9c9c9;
  background-color: #fff;
}
.inputNavStuff {
  width: calc(100% - 40px);
  font-family: Outfit;
  padding-left: 20px;
  outline: none;
  border: none;
  height: 100%;
  text-transform: uppercase;
}
.btnSearchNAv {
  border-top-right-radius: 6.22px;
  border-bottom-right-radius: 6.22px;
  /* border: 1px solid #c9c9c9; */
  width: max-content;
  height: 100%;
  /* font-weight: bold; */
  font-family: outfit;
  /* color: #3e3264; */
  color: #fff;
  padding: 0px 20px;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ee2490;
}
.bgTrackImg {
  width: 100%;
  height: 300px;
  background-size: cover;
  background-image: url("../../assets/printing_image.jpg");
  position: absolute;
  z-index: -2;
  left: 2px;
  top: -10px;
}
.boxSmall {
  width: 89%;
  margin-left: 20px;
  background-color: #822b58;
  padding: 30px 20px;
  box-sizing: border-box;
  font-family: outfit;
  display: flex;
  gap: 20px;
}
.iconSide {
  min-width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: 10px solid #ee249050;
  border-radius: 100%;
  background-color: #ee2490;
}

.timeline {
  position: relative;
  margin-left: 9px;
  margin-top: 9px;
  padding-left: 20px;
  margin-bottom: 35px;
  border-left: 2px solid #555;
}

.timeline_item:first-child {
  position: relative;
  margin-bottom: 22px;
  color: #000;
}
.timeline_item {
  position: relative;
  margin-bottom: 22px;
  color: #777;
}

.timeline_item:first-child:before {
  content: "";
  position: absolute;
  left: -27px;
  top: 10px;
  width: 12px;
  height: 12px;
  background-color: black;
  border-radius: 50%;
}

.timeline_item::before {
  content: "";
  position: absolute;
  left: -27px;
  top: 10px;
  width: 12px;
  height: 12px;
  background-color: #777;
  border-radius: 50%;
}

.timeline_item:last-child {
  margin-bottom: 0;
}

.secondHero {
  width: 90%;
  gap: 20px;
  /* background-color: red; */
  margin: 60px auto 0px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* height: 530px; */
}
.bgSmthConf {
  background-color: #ffc107;
  padding: 10px 20px;
  border-radius: 7px;
  box-shadow: 1px 1px 10px #00000053;
}

.checkoutCover {
  position: fixed;
  background-color: #00000033;
  backdrop-filter: blur(0.3rem);
  bottom: 0px;
  z-index: 10;
  width: 100%;
  left: 0px;
}

.modalMainCover {
  display: block;
  position: fixed;
  top: 0;
  z-index: 50;
  left: 0;
  width: 100%;
  height: 100%;
  outline: 0;
  overflow-y: auto;
  overflow-x: hidden;
  transition: opacity 0.15s linear;
  background-color: #0e0e105d;
  backdrop-filter: blur(0.3rem);
}
.fessInsideMainCover {
  max-width: 550px;
  margin: 1.75rem auto;
  padding: 0px 20px;
  min-height: calc(100% - 3.5rem);
  display: flex;
  align-items: center;
  position: relative;
  width: auto;
  pointer-events: none;
}
.modalContent {
  background-color: #fff;
  border-radius: 8px;
  border: 1px solid #fff;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-clip: padding-box;
  pointer-events: auto;
  outline: 0;
  padding: 20px;
  font-family: outfit;
}

@media (max-width: 915px) {
  .headTr {
    font-size: 34px;
  }
  .secondHero {
    flex-direction: column;
  }
}

@media (max-width: 711px) {
  .secondHero {
    width: 96%;
    /* height: 100% !important; */
    /* height: max-content; */
  }
}

@media (max-width: 515px) {
  .headTr {
    font-size: 29px;
  }
}
