.slideShowCover {
  width: 100%;
  height: 350px;
  /* box-shadow: 0 0 0 2px #f2f2f2; */
  /* transition: box-shadow .2s cubic-bezier(.4,0,1,1); */
  cursor: pointer;
  box-sizing: border-box;
  /* border-radius: 20px; */
  min-height: 470px;
  padding: 20px;
  position: relative;
  display: block;
  background-size: cover !important;
  margin: 10px 0;
  padding: 0.75rem 1.25rem;
}
.contentCover {
  /* font-family: MTNBrighterSans-Regular,Century Gothic,Arial,sans-serif; */
  color: #fff;
  position: absolute;
  left: 20px;
  right: 20px;
  bottom: 30px;
  z-index: 1;
  margin: 0;
  padding: 0;
  border: 0;
  line-height: 1;
  font-size: 1rem;
  vertical-align: baseline;
}

.slideShowCover::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  /* border-radius: 20px; */
  /* background-image: linear-gradient(transparent,rgba(0,0,0,.9))!important; */
  background-image: linear-gradient(transparent, #822b58) !important;
  background-size: cover;
  background-attachment: fixed; /* the magic line */
}
.yellowHere {
  margin-bottom: 10px;
  /* background-color: #fc0; */
  color: #000;
  font-weight: 300;
  font-size: 29px;
  margin: 0;
  font-family: Outfit;
  display: inline-block;
}
.cardHeader {
  color: #000;
  font-weight: bold;
  width: 75%;
  margin-bottom: 9px;
  font-size: 24px;
  font-family: Outfit;
  line-height: 1;
  margin-top: 9px;
  clear: both;
}
.lastHere {
  font-family: Outfit;
  margin: 0;
  margin-bottom: 13px;
  padding: 0;
  color: #000;
}
.shopNowBTN {
  transition: 0.1s ease-in-out;
  background-color: #212121;
  border: 2px solid #212121;
  font-weight: 600;
}
.shopNowBTN:hover {
  background-color: #fff;
  font-family: Outfits;
  color: #212121;
}

@media (max-width: 634px) {
  .yellowHere {
    font-size: 21px;
  }
  .cardHeader {
    font-size: 19px;
  }
  .lastHere {
    font-size: 13px;
  }
}
